# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
#
version: 2
jobs:
  "ruby-2.3":
    docker:
       - image: circleci/ruby:2.3.7
    working_directory: ~/hanami-utils
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "Gemfile.lock" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run:
          name: install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle
      - save_cache:
          paths:
            - ./vendor/bundle
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}
      # run tests!
      - run:
          name: run tests
          command: |
            ./script/ci
  "ruby-2.4":
    docker:
       - image: circleci/ruby:2.4.4
    working_directory: ~/hanami-utils
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "Gemfile.lock" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run:
          name: install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle
      - save_cache:
          paths:
            - ./vendor/bundle
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}
      # run tests!
      - run:
          name: run tests
          command: |
            ./script/ci
  "ruby-2.5":
    docker:
       - image: circleci/ruby:2.5.1
    working_directory: ~/hanami-utils
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "Gemfile.lock" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run:
          name: install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle
      - save_cache:
          paths:
            - ./vendor/bundle
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}
      # run tests!
      - run:
          name: run tests
          command: |
            ./script/ci
  "jruby-9.1":
    docker:
       - image: circleci/jruby:9.1.17.0
    working_directory: ~/hanami-utils
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "Gemfile.lock" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run:
          name: install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle
      - save_cache:
          paths:
            - ./vendor/bundle
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}
      # run tests!
      - run:
          name: run tests
          command: |
            ./script/ci
  "jruby-9.2":
    docker:
       - image: circleci/jruby:9.2.0.0
    working_directory: ~/hanami-utils
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "Gemfile.lock" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run:
          name: install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle
      - save_cache:
          paths:
            - ./vendor/bundle
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}
      # run tests!
      - run:
          name: run tests
          command: |
            ./script/ci

workflows:
  version: 2
  build:
    jobs:
      - "ruby-2.3"
      - "ruby-2.4"
      - "ruby-2.5"
      - "jruby-9.1"
      - "jruby-9.2"
