name: ci

on:
  push:
  pull_request:
  create:
  schedule:
    - cron: "30 4 * * *"

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - "3.4"
          - "3.3"
          - "3.2"
          - "3.1"
        rack:
          - "~> 2.0"
          - "~> 3.0"
    name: tests (Ruby ${{ matrix.ruby }}, Rack ${{ matrix.rack }})
    steps:
      - uses: actions/checkout@v4
      - name: Install package dependencies
        run: "[ -e $APT_DEPS ] || sudo apt-get install -y --no-install-recommends $APT_DEPS"
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{matrix.ruby}}
          bundler-cache: true # 'bundle install' and cache gems
        env:
          RACK_VERSION_CONSTRAINT: ${{matrix.rack}}
      - name: Run all tests
        run: script/ci
        env:
          RACK_VERSION_CONSTRAINT: ${{matrix.rack}}

  workflow-keepalive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: liskin/gh-workflow-keepalive@v1
